
body {
    margin: 0;
    display: flex;
    font-family: 'K2D', sans-serif;
    height: 100vh;
    background-color: #ffffff;
  }
  
  .container {
    display: flex;
    width: 100%;
  }
  

  .sidebar {
    width: 280px;
    color: #CC62D8;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(85, 35, 129, 0.30);
  }
  
  .logo {
    max-width: 300px;
    margin-bottom: 40px;
    margin-top: 40px;
  }
  
  .nav-menu {
    list-style: none;
    /*padding: 40px;*/
    width: 100%; 
  }
  
  .nav-menu li {
    display: flex;
    align-items: center;
    margin: 15px 10px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: #7a8494;
    
  }
  
  .nav-menu li.active {
    background-color: rgb(255, 222, 248);
    font-weight: 600;
    font-style: normal;
  }
  
  .nav-menu li i {
    color: #CC62D8;
    margin-right: 15px;
    font-size: 22px;
  }
  
  .nav-menu li span {
    font-size: 20px;
    line-height: normal;
    font-style: normal;
  
  }
  .nav-menu a{
    text-decoration: none;
    color: #7a8494;
  }

  
  .main-content {
    flex: 1;
    background-color: #ffffff;
    margin-left: 30px;
    width: 100%;
    padding: 40px;
  }
  
  
  .post-input {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 18px;
  }
  
  .profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    padding: 10px;
  }
  
  .post-input input {
    flex: 1;
    padding: 20px;
    border: 1px solid #5523810D;
    border-radius: 8px;
    font-size: 16px;
    background-color: #F9E6FBBA;
    font-family: K2D;
    font-style: normal;
    font-size: 20px;
  }
  
  .post-button {
    background-color: #C273CB;
    color: #fff;
    border: none;
    padding: 20px 20px;
    border-radius: 8px;
    margin-left: 15px;
    cursor: pointer;
    font-weight: 600;
    line-height: normal;
    font-family: K2D;
    font-size: 1rem;
  }
  
  .post-button:hover {
    background-color: #d33ec4;
  }
  .UnicDay{
    border-radius: 0%;
    max-width: 40%;
    height: 100%;
    flex-shrink: 0;
  }
  

  .post {
    background-color:#F9E6FBBA;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .post-header .username {
    font-weight:600;
    font-size: 22px;
    font-family: K2D;
    color: #330060;
    word-wrap: break-word
  }
  
  .post-text {
    margin-bottom: 10px 0;
    font-size: 18px;
    color: #374151;
    font-weight: 400;
  }
  
  .post-image img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 12px;
    margin-top: 10px;
  }
  
  .post-actions {
    display: flex;
    margin-top: 10px;
  }
  
  .post-actions button {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 15px;
    font-size: 16px;
    color: #666;
  }
  
  .post-actions button:hover {
    color: #040404;
  }

  .bookmark{
    margin-left: 410px;
  }