body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  overflow: hidden;
}

.gradient-background {
  background: url('/frontend/images/background.png') no-repeat center center;
  background-size: cover;
  width: 50%;
  flex-shrink: 0;

}

.form-container {
  flex: 1;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.form-container {
  padding: 40px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

input {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.logo {
  max-width: 500px;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.registerForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  
}

.registerForm label {
  margin-top: 5px;
  color: #333;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  margin-bottom: 4px;
}


/*.signup-form input {
  margin-bottom: 10px;
  padding: 10px;
  margin-top: 0;
  border: 1px solid #ccc;
  border-radius: 6px;
}*/
.registerForm input {
  padding: 12px;
  border-radius: 8px;
}

.registerForm button {
  padding: 12px;
  background-color: #F48DFF;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  margin-top: 10px;
  width: 100%;
  max-width: 500px;
  transition: background-color 0.3s ease;
}

.registerForm button:hover {
  background-color: #c438d3;
}

.footer {
  margin-top: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
}

.footer a {
  color: #c438d3;
  text-decoration: none;
  font-weight: bold;
}

.footer a:hover {
  text-decoration: underline;
}

.animlap{
  position: absolute;
  top:550px;
  height: 50%;
  width: 30%;
  left:10px;
  animation: bounceInUp 2s;
}
@keyframes bounceInUp {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}